.mat-card{
    margin-bottom: 15px;
}

.mat-card-actions > button{
    display: inline-block;
    width: 100%;
}
.mat-card-image{
    max-height: 150px; 
    object-fit: cover;
    border-radius: 2px;
    /* max-width: 100%; */
}
.quantity{
    font-weight:500;
    padding: 10px;
}