.mat-card{
    margin-bottom: 15px;
}

.mat-card:hover {
    background-color:rgba(216, 214, 214, 0.555);
}

.mat-card-actions > button{
    display: inline-block;
    width: 100%;
}
.mat-card-image{
    max-height: 150px; 
    object-fit: cover;
    border-radius: 8px;
    /* max-width: 100%; */

}