<md-toolbar color="primary">
  <button md-raised-button routerLink="/">Home</button>
  <button md-raised-button routerLink="/shooping-cart">Shooping Cart</button>

  <ng-template #anonymousUser>
    <button md-raised-button (click)="logIn()">Login</button>
  </ng-template>

  <div *ngIf="appUser; else anonymousUser">
    <button md-raised-button color="primary" [mdMenuTriggerFor]="menu">
      {{appUser.name}}
    </button>

    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="/my/orders">My Orders</button>
      <ng-container *ngIf="appUser.isAdmin">
        <button md-menu-item routerLink="/admin/orders">Manage Orders</button>
        <button md-menu-item routerLink="/admin/products">Manage Products</button>
      </ng-container>
      <button md-menu-item (click)="logOut()">Log out</button>
    </md-menu>
  </div>

</md-toolbar>