<!-- <div class="content" fxLayout="column" fxLayoutAlign="center center"> -->
<div fxLayout="column" fxLayoutAlign="center center">

    <ng-container *ngIf="shoppingCart$ | async as shoppingCart">
        <h1>Shopping Cart</h1>
        <p>You have
            <b>{{shoppingCart.totalItemsCount || 0}}</b> in your Shopping Cart.
            <a md-button color="warn" *ngIf="shoppingCart.totalItemsCount>0" (click)="clearCart()">Clear Shopping Cart</a>
        </p>

        <div style="width:70%;" *ngIf="shoppingCart.totalItemsCount>0">
            <ngx-datatable 
                #mydatatable 
                class="material" 
                [rows]="shoppingCart.items" 
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="auto"> 
            
                <ngx-datatable-column>
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <img class="avatar" [src]="row.imageUrl" [alt]="row.title">
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Product">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <a>{{row.title}}</a>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Quantity" minWidth="350">
                        
                    <ng-template ngx-datatable-cell-template let-row="row">
                        <product-quantity [product]="row" [shopping-cart]="shoppingCart"></product-quantity>
                    </ng-template>
                    <!-- <ng-template ngx-datatable-cell-template let-row="row">
                        <button md-mini-fab color="s" (click)="remove(row.product)">-</button>
                        <span>{{row.quantity}} </span>                    
                        <button md-mini-fab color="s" (click)="add(row)">+</button>
                    </ng-template>  -->
                </ngx-datatable-column>

                <ngx-datatable-column name="Price">
                    <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.totalPrice | currency: 'CAD': true}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-footer>
                        <ng-template 
                        ngx-datatable-footer-template>
                        <div style="padding: 15px 10px">
                            <div>
                            <strong>Total: </strong>{{shoppingCart.totalPrice | currency: 'CAD': true}}
                            </div>                                            
                        </div>
                        </ng-template>
                    </ngx-datatable-footer>
            </ngx-datatable>
        </div>
        <a md-raised-button routerLink="/check-out" color="primary" *ngIf="shoppingCart.totalItemsCount>0">Check Out</a>            
    </ng-container>    
</div>

