
<h1>Admin Orders</h1>
<div *ngIf="orders$ | async as orders">

    <ngx-datatable
    #mydatatable
    class="material"
    [rows]="orders"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="auto"> 
    >

    <ngx-datatable-column name="Customer">
      <ng-template ngx-datatable-cell-template let-row="row">
      {{row.shipping.name}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Date">
      <ng-template ngx-datatable-cell-template let-row="row">
      {{row.datePlaced | date}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column>
      <ng-template ngx-datatable-cell-template let-row="row">
        <!-- <a md-button color="primary" queryParams="row.$key"  routerLink="/admin/order-details/">Details</a>  -->
        <button md-button color="primary" (click)="orderDetail(row.$key)" >Details</button>
      </ng-template>
    </ngx-datatable-column>

    </ngx-datatable>

</div>