/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body{
    padding:0;
    margin: 0;
}

.mat-raised-button:not([color]){
    color:#3f51b5;
}

*{
    font-family:Arial, Helvetica, sans-serif;
}

